{% extends 'lookup.html' %}

{% block info_to_display %}
    <div class="row justify-content-center">
        {% if player_list|length %}
        <div class="col-2 my-auto" style="text-align:center ; font-size:1.1vw">
            Region/Server<br>& Name
        </div>
        <div class="col-2 my-auto" style="text-align:center ; font-size:1.1vw">
            Summoner Icon
        </div>
        <div class="col-2 my-auto" style="text-align:center ; font-size:1.1vw">
            Solo/Duo Rank
        </div>
        <div class="col-6 my-auto" style="text-align:center ; font-size:1.3vw">
            Summoner's Highest Mastery Points
        </div>
        {% else %}
        <div class="col-8" style="text-align:center">
            <p style="font-size:1vw ; color:red">No player with that name on any server</p>
        </div>
        {% endif %}
    </div>
    {% for player in player_list %}
        <!-- When putting on website: /league must come before /?region=.... -->
        <a href="/?region={{player.region_code}}&name_input={{player.name}}">
            <div class="row justify-content-center" style="border-style:solid ; border-color:dodgerblue ; padding:5px">
                <div class="col-2 my-auto" style="display:table-cell ; text-align:center ; font-size:1.1vw">
                    {{ player.region_name }}<br><br>{{ player.name }}
                </div>
                <div class="col-2 my-auto" style="text-align:center">
                    <img src="http://ddragon.leagueoflegends.com/cdn/{{VERSION}}/img/profileicon/{{ player.icon_id|string }}.png" style="max-width:80%">
                </div>
                <div class="col-2 my-auto" style="display:table-cell ; text-align:center ; font-size:1.2vw">
                    {{ player.rank }}
                </div>
                <div class="col-6 my-auto mx-auto" style="font-size:1.1vw ; text-align:center">
                    {% if player.most_played|length %}
                        {% for champ in player.most_played %}
                            <img src="http://ddragon.leagueoflegends.com/cdn/{{VERSION}}/img/champion/{{ champ }}.png" style="max-width:15%">
                        {% endfor %}
                    {% else %}
                        Player has not played any matches granting champion mastery!
                    {% endif %}
                </div>
            </div>
        </a>
        <br>
    {% endfor %}
{% endblock %}