{% extends 'lookup.html' %}
<!-- app.py sends a list of tuples - each tuple has Region Name, summonerDTO, leagueDTO, champMasteryDTO, and Region Code objects-->
{% block info_to_display %}
    <div class="row justify-content-center">
        {% if search_results|length %}
        <div class="col-2 my-auto" style="text-align:center ; font-size:1.1vw">
            Region/Server<br>& Name
        </div>
        <div class="col-2 my-auto" style="text-align:center ; font-size:1.1vw">
            Summoner Icon
        </div>
        <div class="col-2 my-auto" style="text-align:center ; font-size:1.1vw">
            Solo/Duo Rank
        </div>
        <div class="col-6 my-auto" style="text-align:center ; font-size:1.3vw">
            Summoner's Highest Mastery Points
        </div>
        {% else %}
        <div class="col-8" style="text-align:center">
            <p style="font-size:1vw ; color:red">No player with that name on any server</p>
        </div>
        {% endif %}
    </div>
    {% for result in search_results %}
        <!-- When putting on website: /league must come before /?region=.... -->
        <a href="/?region={{result[4]}}&name_input={{result[1]["name"]}}">
            <div class="row justify-content-center" style="border-style:solid ; border-color:dodgerblue ; padding:5px">
                <div class="col-2 my-auto" style="display:table-cell ; text-align:center ; font-size:1.1vw">
                    {{ result[0] }}<br><br>{{ result[1]["name"] }}
                </div>
                <div class="col-2 my-auto" style="text-align:center">
                    <img src="http://ddragon.leagueoflegends.com/cdn/{{VERSION}}/img/profileicon/{{ result[1]["profileIconId"] }}.png" style="max-width:80%">
                </div>
                <div class="col-2 my-auto" style="display:table-cell ; text-align:center ; font-size:1.2vw">
                    {{ result[2] }}
                </div>
                <div class="col-6 my-auto mx-auto" style="font-size:1.1vw ; text-align:center">
                    {% if result[3] is not string %}
                        {% for champ in result[3] %}
                            <img src="http://ddragon.leagueoflegends.com/cdn/{{VERSION}}/img/champion/{{ champ }}.png" style="max-width:15%">
                        {% endfor %}
                    {% else %}
                        {{ result[3] }}
                    {% endif %}
                </div>
            </div>
        </a>
        <br>
    {% endfor %}
{% endblock %}